body{

    background-color: #2D2E2D;
 
 }
 
 /* Add a black background color to the top navigation */
 .topnav {
     background-color: #2d2e2d;
     overflow: hidden;
   }
   
   /* Style the links inside the navigation bar */
   .topnav a {
     float: right;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 25px;
     font-family: Arial;
   }
 
   .topnav img {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     overflow: hidden;
     margin-top: -6px;
   }
   
   /* Change the color of links on hover */
   .topnav a:hover {
     color: #e8bf5c;
   }
   
   /* Add a color to the active/current link */
   .topnav a.active {
     color: #e8bf5c;
 }
 
 hr{
 
    margin-top: 380px;
    width: 690px;
    transform: rotate(90deg);
 
 
 }
 
 .registertitle{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: white;
     margin-left: 310px;
     margin-top: -265px;
     position: absolute;
 }
 
 .titleinput{
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 
 }
 
 .field{
 
    background-color:white;
    width: 290px;
    height: 40px;
    border-radius: 10px;
 
 }
 
 .formsignupuser{
 
     position: absolute;
     margin-left: 310px;
     margin-top: -190px;
 
 }
 
 .registerbutton{
 
     /*color: #e8bf5c;*/
 
     color: #2D2E2D;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     
 
 }
 
 .regist{
 
     position: absolute;
     margin-left: 450px;
     margin-top: 280px;
     transform: translate(-50%, -50%);
 
 }
 
 .regist{

    background-color: #e8bf5c;
    color: #2D2E2D;
    width: 140px;
    height: 40px;
    border: 1px solid #FFFFFFFF;
    font-size: 18px;
    border-radius: 6px;
    overflow: hidden;

}
 
 .ortitle{
 
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-left: 435px;
    margin-top: 315px;
    position: absolute;
 
 }
 
 .circleforicons{
 
    height: 95px;
    width: 95px;
    background-color: #FFFFFFFF;
    border-radius: 50%;
    display: inline-block;
    margin-left: 315px;
    margin-top: 340px;
 
 }
 
 .circleforicons2{
 
     height: 95px;
     width: 95px;
     background-color: #FFFFFFFF;
     border-radius: 50%;
     display: inline-block;
     margin-left: 76px;
 
 }
 
 .iconpersonaltrainer{
 
     margin-left: -256px;
     
    margin-top: 350px;
    position: absolute;
 
 }
 
 .iconnutritionist{
 
      margin-left: -82px;
      margin-top:350px;
      position: absolute;
 
 }
 
 .loginlinkword{
 
       text-decoration: none;
       color: aquamarine;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 12px;
 
 }
 
 #trylogin{
 
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       color: white;
       font-size: 12px;
       
 }
 
 .alreadyhaveaccount{
 
       margin-left: 360px;
       position: absolute;
       margin-top: 10px;
 
 }
 
 .registerpt{

    height: 95px;
    width: 95px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-left: 76px;
    position: absolute;
    margin-left: 316px;
    margin-top: 260px;

}

.registernutritionist{

    height: 95px;
    width: 95px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: 490px;
    margin-top: 260px;

}
 
 #beingauser{
 
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 20px;
     position: absolute;
     margin-left: 52%;
     margin-top: -670px;
 
 }
 
 #icon1{
 
      margin-left: 800px;
      margin-top: -610px;
 
 
 }
 
 #icon2{
 
     margin-left: 800px;
     margin-top: -540px;
 
 
 }
 
 #icon3{
 
     margin-left: 800px;
     margin-top: -470px;
 
 
 }
 
 #icon4{
 
     margin-left: 800px;
     margin-top: -400px;
 
 
 }
 
 #icon5{
 
     margin-left: 800px;
     margin-top: -330px;
 
 }
 
 #discovernewrecipestext{
 
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     margin-left: 870px;
     margin-top: -40px;
 
 }
 
 #practicenewexercisestext{
 
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-left: 870px;
     margin-top: -40px;
     position: absolute;
 
 }
 
 #findpersonaltrainertext{
 
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     margin-left: 870px;
     margin-top: -40px;
 
 }
 
 #descobrirnovoslocaistext{
 
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     margin-left: 870px;
     margin-top: -40px;
 
 }
 
 #andmoretext{
 
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: absolute;
     margin-left: 870px;
     margin-top: -40px;
 
 }

 #custom-button{

    padding: 10px;
    color: white;
    background-color: #e8bf5c;
    border: 1px solid #2D2E2D;
    border-radius: 5px;
    cursor: pointer;
  
 }

 #custom-button:hover{

    background-color: #2D2E2D;
    color: white;
    border: 1px solid white;
    transition: all 0.4s ease;

 }

 #custom-text{

    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

 }

 .whatcanyoudo{
    margin-left: 10%;
    margin-top: 1%;
}

 