body{

    background-color: #2d2e2d; 
}

h1{
    color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 32px;
}

p{
    color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 2ch;
    text-align: justify;
    margin-left: 5%;
    margin-right: 30%;
    font-size: 20px;
}

#divisor{
   
  color: white;
  transform: rotate(180deg);   
  background: white;
  position: absolute;
  margin-top: -15px;
  margin-left: 5%;
  width: 64.8%;

}

#divisor2{
   
  color: white;
  transform: rotate(180deg);   
  background: white;
  position: absolute;
  margin-top: -15px;
  margin-left: 5%;
  width: 64.8%;
}

.space{
  margin-left: 12%;
  margin-right: 6%;
  margin-top: 1%;
  position: absolute;
}

/* Add a black background color to the top navigation */
.topnav {
   background-color: #2d2e2d;
   overflow: hidden;
   
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 25px;
   font-family: Arial;
 }

 .topnav img {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   overflow: hidden;
   margin-top: -6px;
 }

 #topnav-img2{

   width: 80px;
   height: 80px;
   border-radius: 50%;
   overflow: hidden;
   margin-top: -6px;
   /*float: right;*/

 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
   color: #e8bf5c;
 }
 
 /* Add a color to the active/current link */
 .topnav a.active {
   color: #e8bf5c;
  }