body{

    background-color: #2d2e2d; 
}

#eventos{
    color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3%;
    margin-left: 15%;
    font-size: 32px;
}

#divisor{
   
    color: white;
    transform: rotate(180deg);   
    background: white;
    position: absolute;
    margin-top: -15px;
    margin-left: 15%;
    width: 64.4%;
  
}

 /* Add a black background color to the top navigation */
 .topnav {
     background-color: #2d2e2d;
     overflow: hidden;
     
   }
   
   /* Style the links inside the navigation bar */
   .topnav a {
     float: right;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 25px;
     font-family: Arial;
   }
 
   .topnav img {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     overflow: hidden;
     margin-top: -6px;
   }

   #topnav-img2{

     width: 80px;
     height: 80px;
     border-radius: 50%;
     overflow: hidden;
     margin-top: -6px;
     /*float: right;*/

   }
   
   /* Change the color of links on hover */
   .topnav a:hover {
     color: #e8bf5c;
   }
   
   /* Add a color to the active/current link */
   .topnav a.active {
     color: #e8bf5c;
    }

    .space{
      margin-left: 12%;
      margin-top: -2%;
      position: absolute;
    }

    #selectxbox1{

        height: 24.5%;
        width: 12.5%;
        background-color: transparent;
        border: 1px solid white;
        position: absolute;
        border-radius: 10px;
        margin-left: 15%;
        margin-top: 0%;
        
     
     }
     
     #selectxbox2{
     
        height: 24.5%;
        width: 12.5%;
        background-color: transparent;
        border: 1px solid white;
        position: absolute;
        border-radius: 10px;
        margin-left: 28%;
        margin-top: 0%;
     
     }
     
     
     #selectxbox3{
     
        height: 24.5%;
        width: 12.5%;
        background-color: transparent;
        border: 1px solid white;
        position: absolute;
        border-radius: 10px;
        margin-left: 41%;
        margin-top: 0%;
     
     }
     
     
     #selectxbox4{
     
        height: 24.5%;
        width: 12.5%;
        background-color: transparent;
        border: 1px solid white;
        position: absolute;
        border-radius: 10px;
        margin-left: 54%;
        margin-top: 0%;
     
     }
    
     #selectxbox5{
     
      height: 24.5%;
      width: 12.5%;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 67%;
      margin-top: 0%;
    }

    #selectxbox6{

        height: 24.5%;
        width: 12.5%;
        background-color: transparent;
        border: 1px solid white;
        position: absolute;
        border-radius: 10px;
        margin-left: 15%;
        margin-top: 12.5%;
        
     
     }
     
     #selectxbox7{
     
        height: 24.5%;
        width: 12.5%;
        background-color: transparent;
        border: 1px solid white;
        position: absolute;
        border-radius: 10px;
        margin-left: 28%;
        margin-top: 12.5%;
     
     }
     
     
     #selectxbox8{
     
        height: 24.5%;
        width: 12.5%;
        background-color: transparent;
        border: 1px solid white;
        position: absolute;
        border-radius: 10px;
        margin-left: 41%;
        margin-top: 12.5%;
     
     }
     
     
     #selectxbox9{
     
        height: 24.5%;
        width: 12.5%;
        background-color: transparent;
        border: 1px solid white;
        position: absolute;
        border-radius: 10px;
        margin-left: 54%;
        margin-top: 12.5%;
     
     }
    
     #selectxbox10{
     
      height: 24.5%;
      width: 12.5%;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 67%;
      margin-top: 12.5%;
    }