body{

    background-color: #2d2e2d; 
}

h1{
    color: #f2f2f2;
    font-family: Arial;
    padding: 200px 500px;
    text-decoration-line: underline;
    text-decoration-color: white; 
    text-decoration-style: solid;
}

p{
    color: #f2f2f2;
    font-family: Arial;
    padding: 1px 600px;
}
 
 /* Add a black background color to the top navigation */
 .topnav {
     background-color: #2d2e2d;
     overflow: hidden;
     
   }
   
   /* Style the links inside the navigation bar */
   .topnav a {
     float: right;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 25px;
     font-family: Arial;
   }
 
   .topnav img {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     overflow: hidden;
     margin-top: -6px;
   }

   #topnav-img2{

     width: 80px;
     height: 80px;
     border-radius: 50%;
     overflow: hidden;
     margin-top: -6px;
     /*float: right;*/

   }
   
   /* Change the color of links on hover */
   .topnav a:hover {
     color: #e8bf5c;
   }
   
   /* Add a color to the active/current link */
   .topnav a.active {
     color: #e8bf5c;
    }

    body{

      background-color: #2d2e2d; 
  }
  
  h1{
      color: #f2f2f2;
      font-family: Arial;
      padding: 200px 500px;
      text-decoration-line: underline;
      text-decoration-color: white; 
      text-decoration-style: solid;
  }
  
  p{
      color: #f2f2f2;
      font-family: Arial;
      padding: 1px 600px;
  }
   
   /* Add a black background color to the top navigation */
   .topnav {
       background-color: #2d2e2d;
       overflow: hidden;
       
     }
     
     /* Style the links inside the navigation bar */
     .topnav a {
       float: right;
       color: #f2f2f2;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 25px;
       font-family: Arial;
     }
   
     .topnav img {
       width: 80px;
       height: 80px;
       border-radius: 50%;
       overflow: hidden;
       margin-top: -6px;
     }
  
     #topnav-img2{
  
       width: 80px;
       height: 80px;
       border-radius: 50%;
       overflow: hidden;
       margin-top: -6px;
       /*float: right;*/
  
     }
     
     /* Change the color of links on hover */
     .topnav a:hover {
       color: #e8bf5c;
     }
     
     /* Add a color to the active/current link */
     .topnav a.active {
       color: #e8bf5c;
      }
  
  
  .space{
    margin-left: 12%;
    margin-top: -2%;
    position: absolute;
  }
  
  
  /*Boxes*/
  
  .boxes{
  
      position: absolute;
      margin-top: 70px;
  }
  
  #createButton{
      
      margin-left: 24px;
      font-size: 25px;
      margin-top: 50px;
      background: transparent;
      border: 2px solid #e8bf5c;
      width: 230px;
      height: 60px;
      color: #e8bf5c;
      cursor: pointer;
      transition: all 0.5s ease;
      z-index:1;
      position: absolute;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border-radius: 6px;
   }
   
  #divisorBoxes{
   
       color: white;
       transform: rotate(180deg);   
       background: white;
       position: absolute;
       margin-top: 120px;
       margin-left: 26px;
       width: 1275px;
   
  }
  
  
  
   #selectxbox1{
  
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 24px;
      margin-top: 150px;
      
   
   }
   
   #selectxbox2{
   
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 284px;
      margin-top: 150px;
   
   }
   
   
   #selectxbox3{
   
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 544px;
      margin-top: 150px;
   
   }
   
   
   #selectxbox4{
   
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 804px;
      margin-top: 150px;
   
   }
  
   #selectxbox5{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 1064px;
    margin-top: 150px;
  
  }
  
  #selectxbox6{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 400px;
  
  }
  
  #selectxbox7{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 284px;
    margin-top: 400px;
  
  }
  
  #selectxbox8{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 544px;
    margin-top: 400px;
  
  }
  
  #selectxbox9{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 804px;
    margin-top: 400px;
  
  }
  
  #selectxbox10{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 1064px;
    margin-top: 400px;
  
  }
  
   .dropbtn {
      margin-left: 310px;
      font-size: 25px;
      margin-top: 106px;
      background: transparent;
      border: 2px solid white;
      width: 340px;
      height: 60px;
      color: white;
      cursor: pointer;
      transition: all 0.5s ease;
      z-index:1;
      position: absolute;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-left: 310px;
      margin-top: 164px;
      border-radius: 10px;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd; border-radius: 10px;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
    .dropbtn2 {
      margin-left: 660px;
      font-size: 25px;
      margin-top: 106px;
      background: transparent;
      border: 2px solid white;
      width: 340px;
      height: 60px;
      color: white;
      cursor: pointer;
      transition: all 0.5s ease;
      z-index:1;
      position: absolute;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
    .dropdown-content2 {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 130px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-left: 660px;
      margin-top: 164px;
      border-radius: 10px;
    }
  
    .dropdown2 {
      position: relative;
      display: inline-block;
    }
  
    .dropdown-content2 a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content2 a:hover {background-color: #ddd; border-radius: 10px;}
    
    .dropdown2:hover .dropdown-content2 {display: block;}
    
    .dropdown2:hover .dropbtn2 {background-color: #3e8e41;}
  
    .boxes2{
  
      position: absolute;
      margin-top: 70px;
  }
  
  #createButton2{
      
      margin-left: 24px;
      font-size: 25px;
      margin-top: 700px;
      background: transparent;
      border: 2px solid #e8bf5c;
      width: 230px;
      height: 60px;
      color: #e8bf5c;
      cursor: pointer;
      transition: all 0.5s ease;
      z-index:1;
      position: absolute;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border-radius: 6px;
   }
   
  #divisorBoxes2{
   
       color: white;
       transform: rotate(180deg);   
       background: white;
       position: absolute;
       margin-top: 770px;
       margin-left: 26px;
       width: 1275px;
   
  }
  
  
  
   #selectxbox11{
  
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 24px;
      margin-top: 800px;
      
   
   }
   
   #selectxbox12{
   
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 284px;
      margin-top: 800px;
   
   }
   
   
   #selectxbox13{
   
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 544px;
      margin-top: 800px;
   
   }
   
   
   #selectxbox14{
   
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 804px;
      margin-top: 800px;
   
   }
  
   #selectxbox15{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 1064px;
    margin-top: 800px;
  
  }
  
  #selectxbox16{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 1050px;
  
  }
  
  #selectxbox17{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 284px;
    margin-top: 1050px;
  
  }
  
  #selectxbox18{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 544px;
    margin-top: 1050px;
  
  }
  
  #selectxbox19{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 804px;
    margin-top: 1050px;
  
  }
  
  #selectxbox20{
   
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 1064px;
    margin-top: 1050px;
  
  }
  
   .dropbtn3 {
      margin-left: 310px;
      font-size: 25px;
      margin-top: 755px;
      background: transparent;
      border: 2px solid white;
      width: 340px;
      height: 60px;
      color: white;
      cursor: pointer;
      transition: all 0.5s ease;
      z-index:1;
      position: absolute;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .dropdown3 {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content3 {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-left: 310px;
      margin-top: 813px;
      border-radius: 10px;
    }
    
    .dropdown-content3 a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content3 a:hover {background-color: #ddd; border-radius: 10px;}
    
    .dropdown3:hover .dropdown-content3 {display: block;}
    
    .dropdown3:hover .dropbtn3 {background-color: #3e8e41;}
  
    .dropbtn4 {
      margin-left: 660px;
      font-size: 25px;
      margin-top: 755px;
      background: transparent;
      border: 2px solid white;
      width: 340px;
      height: 60px;
      color: white;
      cursor: pointer;
      transition: all 0.5s ease;
      z-index:1;
      position: absolute;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
    .dropdown-content4 {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 130px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-left: 660px;
      margin-top: 813px;
      border-radius: 10px;
    }
  
    .dropdown4 {
      position: relative;
      display: inline-block;
    }
  
    .dropdown-content4 a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content4 a:hover {background-color: #ddd; border-radius: 10px;}
    
    .dropdown4:hover .dropdown-content4 {display: block;}
    
    .dropdown4:hover .dropbtn4 {background-color: #3e8e41;}
  
    #search{
      margin-left: 1090px;
      margin-top: 108px;
    }
  
    #search2{
      margin-left: 1090px;
      margin-top: 635px;
    }

    #desafios{
      color: white;
      margin-top: 600px;
      margin-left: 580px;
      font-size: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-decoration-line: underline;
      text-decoration-color: white; 
      text-decoration-style: solid; ;
    }
    
    #frasePontos{
      color: white;
      margin-top: 330px;
      margin-left: 220px;
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #selectxbox21{
    
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 24px;
      margin-top: 20px;
    
    }
    
    #selectxbox22{
    
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 284px;
      margin-top: 20px;
    
    }
    
    
    #selectxbox23{
    
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 544px;
      margin-top: 20px;
    
    }
    
    
    #selectxbox24{
    
      height: 229px;
      width: 240px;
      background-color: transparent;
      border: 1px solid white;
      position: absolute;
      border-radius: 10px;
      margin-left: 804px;
      margin-top: 20px;
    
    }
    
    #selectxbox25{
    
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 1064px;
    margin-top: 20px;
    
    }
 