body{

    background-color: #2d2e2d; 
}

h1{
    color: #f2f2f2;
    font-family: Arial;
    padding: 200px 500px;
    text-decoration-line: underline;
    text-decoration-color: white; 
    text-decoration-style: solid;
}

p{
    color: #f2f2f2;
    font-family: Arial;
    padding: 1px 600px;
}
 
 /* Add a black background color to the top navigation */
 .topnav {
     background-color: #2d2e2d;
     overflow: hidden;
     
   }
   
   /* Style the links inside the navigation bar */
   .topnav a {
     float: right;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 25px;
     font-family: Arial;
   }
 
   .topnav img {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     overflow: hidden;
     margin-top: -6px;
   }

   #topnav-img2{

     width: 80px;
     height: 80px;
     border-radius: 50%;
     overflow: hidden;
     margin-top: -6px;
     /*float: right;*/

   }
   
   /* Change the color of links on hover */
   .topnav a:hover {
     color: #e8bf5c;
   }
   
   /* Add a color to the active/current link */
   .topnav a.active {
     color: #e8bf5c;
    }

    /* CSS DA BARRA LATERAL */

 .sidebar{

    position: absolute;
    height: 100%;
    width: 240px;
    background: #f2f2f2;
    top: 0;
    left: 0;
    padding: 6px 14px;
    margin-left: 1220px;
    transition: all 0.4s ease;
    z-index: 1;
    border-radius: 5px;

 }

 .sidebar .logo_content .logo{

     color: black;
     display: flex;
     height: 50px;
     width: 100%;
     align-items: center;

 }

 .logo_content .logo i{

    font-size: 28px;
    margin-right: 5px;

 }

 .logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
 }

 .sidebar #btn{

    color: black;
    position: absolute;
    left: 90%;
    top: -6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);

 }

 .sidebar ul{

    margin-top: 10px;
    position: absolute;
    margin-left: -30px;
    

 }

 .sidebar ul li{

     list-style: none;
     position: relative;
     height: 50px;
     width: 100%;
     margin: 0 5px;
     line-height: 50px;
 }

 .sidebar ul li a{

     color: black;
     display: flex;
     align-items: center;
     text-decoration: none;
     transition: all 0.4s ease;
     border-radius: 12px;

 }

 .sidebar ul li a:hover{

    color: #FFF;
    background: #2D2E2D;


 }

 .sidebar ul li i{

     height:  50px;
     min-width: 50px;
     border-radius: 12px;
     line-height: 50px;
     text-align: center;

 }

 /*BARRA DE PESQUISA DA BARRA LATERAL DE NAVEGAÇÃO*/

 .sidebar ul li input{

    position: absolute;
    height:  100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: 1px solid #2D2E2D;
    background:white;
    padding-left: 50px;
    font-size: 18px;
    color: #2D2E2D;
    margin-left: -10px;

 }

 .sidebar ul li .bx-search-alt-2{

    position: absolute;
    z-index: 99;
    color: #2D2E2D;
    font-size: 22px;
    margin-left: -15px;

 }

 .sidebar .profile_content{

   position: absolute;
   color: #2D2E2D;
   bottom: 0;
   left: 0;

 }

 .sidebar .profile_content .profile{

   position: relative;
   padding: 10px 6px;
   height: 60px;

 }

 .profile_content .profile .profile_details{

    display: flex;
    align-items: center;
 
  }
 
  .profile .profile_details img{
 
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
    
  }
 
  .profile .profile_details .name_job{
     margin-left: -30px;
  }
 .profile .profile_details .name{
     font-size: 15px;
     font-weight: 400;
 }
 
 
 .profile .profile_details .job{
     font-size: 12px;
 }
 
 .profile #log_out{
 
     position: absolute;
     left: 88%;
     bottom: 5px;
     transform: translateX(-50%);
 
 }
 
 .btnlogout{
 
     position: absolute;
     background: #f2f2f2;
     border: 1px solid #2D2E2D;
     position: absolute;
     margin-left: 120px;
     margin-top: 647px;
 
 
 }
 
 .btnlogout:hover{
 
     background: #2D2E2D;
     color: white;
     transition: all 0.4s ease;
 
}
.space{
  margin-left: 8%;
  margin-top: -5%;
}


/*Boxes*/

.boxes{

    position: absolute;
    margin-top: 70px;
}

#createButton{
    
    margin-left: 24px;
    font-size: 25px;
    margin-top: 50px;
    background: transparent;
    border: 2px solid #e8bf5c;
    width: 230px;
    height: 60px;
    color: #e8bf5c;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index:1;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
#divisorBoxes{
 
     color: white;
     transform: rotate(180deg);   
     background: white;
     position: absolute;
     margin-top: 120px;
     margin-left: 26px;
     width: 1275px;
 
}



 #selectxbox1{

    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 150px;
 
 }
 
 #selectxbox2{
 
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 284px;
    margin-top: 150px;
 
 }
 
 
 #selectxbox3{
 
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 544px;
    margin-top: 150px;
 
 }
 
 
 #selectxbox4{
 
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 804px;
    margin-top: 150px;
 
 }

 #selectxbox5{
 
  height: 229px;
  width: 240px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  border-radius: 10px;
  margin-left: 1064px;
  margin-top: 150px;

}

#selectxbox6{
 
  height: 229px;
  width: 240px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  border-radius: 10px;
  margin-left: 24px;
  margin-top: 400px;

}

#selectxbox7{
 
  height: 229px;
  width: 240px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  border-radius: 10px;
  margin-left: 284px;
  margin-top: 400px;

}

#selectxbox8{
 
  height: 229px;
  width: 240px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  border-radius: 10px;
  margin-left: 544px;
  margin-top: 400px;

}

#selectxbox9{
 
  height: 229px;
  width: 240px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  border-radius: 10px;
  margin-left: 804px;
  margin-top: 400px;

}

#selectxbox10{
 
  height: 229px;
  width: 240px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  border-radius: 10px;
  margin-left: 1064px;
  margin-top: 400px;

}

 .dropbtn {
    margin-left: 300px;
    font-size: 25px;
    margin-top: 108px;
    background: transparent;
    border: 2px solid white;
    width: 265px;
    height: 60px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index:1;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 300px;
    margin-top: 168px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .dropbtn2 {
    margin-left: 570px;
    font-size: 25px;
    margin-top: 108px;
    background: transparent;
    border: 2px solid white;
    width: 250px;
    height: 60px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index:1;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 570px;
    margin-top: 168px;
  }

  .dropdown2 {
    position: relative;
    display: inline-block;
  }

  .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content2 a:hover {background-color: #ddd;}
  
  .dropdown2:hover .dropdown-content2 {display: block;}
  
  .dropdown2:hover .dropbtn2 {background-color: #3e8e41;}

  #search{
    margin-left: 900px;
    margin-top: 120px;
  }

  #desafios{
    color: white;
    margin-top: 600px;
    margin-left: 580px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: underline;
    text-decoration-color: white; 
    text-decoration-style: solid; ;
  }

  #frasePontos{
    color: white;
    margin-top: 330px;
    margin-left: 220px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #selectxbox11{

    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 20px;
 
 }
 
 #selectxbox12{
 
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 284px;
    margin-top: 20px;
 
 }
 
 
 #selectxbox13{
 
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 544px;
    margin-top: 20px;
 
 }
 
 
 #selectxbox14{
 
    height: 229px;
    width: 240px;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
    margin-left: 804px;
    margin-top: 20px;
 
 }

 #selectxbox15{
 
  height: 229px;
  width: 240px;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  border-radius: 10px;
  margin-left: 1064px;
  margin-top: 20px;

}
 